html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

widget {
	border: 1px solid transparent;
	cursor: pointer;
	display: block;
}

widget[highlight] {
	border-color: #15b8c7;
}

widget[active] {
	border-color: #920deb;
}
